.news-container{
    background-color: antiquewhite;
}
.name{
    font-size: 2rem;
    font-weight: bold;
}
.body{
    font-size: 1.5rem;
    line-height: 2rem;
}
.btn-share{
    font-size: 1.3rem;
}
.prediction{
    /* background-color: beige; */
    font-size: 0.5rem;
}